<div class="text-center">
    <h3>Task:1</h3>
    <table class="table-bordered m-auto">
        <thead>
            <tr>
                <th *ngFor="let head of headElements">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id}}</td>
                <td>{{ employee.name }}</td>
                <td *ngIf="checkPhoneNo(employee.phone)">{{ employee.phone}}</td>
                <td *ngIf="!checkPhoneNo(employee.phone)">NA</td>
                <td>{{ employee.city}}</td>
                <td>{{ employee.address_line1}}</td>
                <td>{{ employee.address_line2}}</td>
                <td>{{ employee.postal_code}}</td>
            </tr>
        </tbody>
    </table>
</div>












<!-- <form  class="offset-5 text-center" [formGroup]="employeeForm">
    <table class="table-bordered">
        <thead>
            <tr>
                <th *ngFor="let head of headElements">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr class="form-group" *ngFor="let employee of employees">
                <td formControlName="id">{{ employee.id}}</td>
                <td formControlName="name">{{ employee.name }}</td>
                <td *ngIf="checkPhoneNo(employee.phone)" formControlName="phoneNo">{{ employee.phone}}</td>
                <td *ngIf="!checkPhoneNo(employee.phone)" formControlName="phoneNo">NA</td> -->
                <!-- <td>{{ employee.address.city}}</td>
                <td>{{ employee.address.address1}}</td>
                <td>{{ employee.address.address2 }}</td>
                <td>{{ employee.address.portalCode}}</td> -->
            <!-- </tr>
        </tbody>
    </table>
</form> -->