<form editForm="ngForm">
    <div class="form-group">
        <label>Id:</label><input name="id" type="number" ngModel />
    </div>
    <div class="form-group">
        <label>Name:</label><input name="name" type="text" required minlength="4" ngModel/> <br />
    </div>
    <div class="form-group">
        <label>Phone:</label><input name="phone" type="number" required ngModel />
    </div>
    <div class="form-group">
        <label>City:</label><input name="city" type="text"  ngModel/>
    </div>
    <div class="form-group">
        <label>Address1:</label><input name="address1" type="text" ngModel/>
    </div>
    <div class="form-group">
        <label>Address2:</label><input name="address2" type="text" ngModel/>
    </div>
    <div class="form-group">
        <label>Postal Code:</label><input name="postalcode" type="text" ngModel/>
    </div>

    {{editForm|json}}
</form>
