<div class="jumbotron text-center">
    <nav>
        <a class="btn btn-outline-dark mx-2" routerLink="/employeelist" routerLinkActive="active">Task 1</a>
        <a class="btn btn-outline-dark mx-2" routerLink="/employeesearch" routerLinkActive="active">Task 2</a>
        <a class="btn btn-outline-dark mx-2" routerLink="/emmployeeaddedit" routerLinkActive="active">Task 3</a> 
    </nav>
      


</div>
<router-outlet></router-outlet>