<div *ngIf="!displayEditView" class="text-center">
    <h1>Task 3:</h1>
    <div class="my-3">
        <button type="button" class="btn btn-outline-info" routerLink="emplyoees/add" (click)="addNew()">Add New</button>
    </div>
    <table class="table-bordered m-auto">
        <thead>
            <tr>
                <th *ngFor="let head of headElements">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id}}</td>
                <td>{{ employee.name }}</td>
                <td *ngIf="checkPhoneNo(employee.phone)">{{ employee.phone}}</td>
                <td *ngIf="!checkPhoneNo(employee.phone)">NA</td>
                <td>{{ employee.city}}</td>
                <td>{{ employee.address_line1}}</td>
                <td>{{ employee.address_line2}}</td>
                <td>{{ employee.postal_code}}</td>
                <td> <button type="button" class="btn btn-outline-warning mx-2"
                        (click)="edit(employee.id)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="displayEditView">
    <form #editForm="ngForm">
        <div class="form-group">
            <label>Id:</label><input name="id" type="number" ngModel />
        </div>
        <div class="form-group">
            <label>Name:</label><input name="name" type="text" required minlength="4" ngModel/> <br />
        </div>
        <div class="form-group">
            <label>Phone:</label><input name="phone" type="number" required ngModel />
        </div>
        <div class="form-group">
            <label>City:</label><input name="city" type="text"  ngModel/>
        </div>
        <div class="form-group">
            <label>Address1:</label><input name="address1" type="text" ngModel/>
        </div>
        <div class="form-group">
            <label>Address2:</label><input name="address2" type="text" ngModel/>
        </div>
        <div class="form-group">
            <label>Postal Code:</label><input name="postalcode" type="text" ngModel/>
        </div>

        {{editForm|json}}
    </form>


</div>