<div class="text-center">
<form #employeedata="ngForm" novalidate>
    <div class="form-group">
        <label>Id:</label><input name="id" type="number" [(ngModel)]="employeedata.id" />
    </div>
    <div class="form-group">
        <label>Name:</label><input name="name" type="text" required minlength="4" [(ngModel)]="employeedata.name"/> <br />
    </div>
    <div class="form-group">
        <label>Phone:</label><input name="phone" type="number" required [(ngModel)]="employeedata.phone" />
    </div>
    <div class="form-group">
        <label>City:</label><input name="city" type="text"  [(ngModel)]="employeedata.city"/>
    </div>
    <div class="form-group">
        <label>Address1:</label><input name="address1" type="text" [(ngModel)]="employeedata.address1"/>
    </div>
    <div class="form-group">
        <label>Address2:</label><input name="address2" type="text" [(ngModel)]="employeedata.address2"/>
    </div>
    <div class="form-group">
        <label>Postal Code:</label><input name="postalcode" type="text" [(ngModel)]="employeedata.postalcode"/>
    </div>

    <div>
        <button class="btn btn-primary" (click)="addEmployee(employeedata)">Add</button>
    </div>
</form>

</div>